@model OnlineShopping.ViewModels.ProductDisplayProductViewModel
@{
    ViewBag.Title = "DisplayProduct";
}

@{ 
    var Name = Model.Customer.Name;
    int totalProduct = Model.Customer.ShoppingCart.getTotalProduct();
}
<h2>DisplayProduct</h2>
<ul>
    @foreach (var item in Model.Product.ProductLists)
    {
        <li>
            @Html.DisplayFor(modelItem => item.ProductName) - RM @Html.DisplayFor(modelItem => item.ProductPrice).00
            <input type="button" value="Add to cart" onclick="location.href='../../Customer/AddToCart/@Name/@item.ProductName'" />
        </li>
    }
</ul>
<br />
@if (totalProduct > 0)
{
    <h5>The number of items in your cart : <input id='totalProduct' type='text' value='@totalProduct' readonly/></h5>
}



