@model OnlineShopping.Models.Customer

@{
    ViewBag.Title = "Login Page";
}

<h2>Customer Login</h2>

<script src="~/Scripts/jquery.validate.unobtrusive.js" ></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@using (Html.BeginForm())
{
    <div class="form-group ">
        @Html.Label("Username: ")
        @Html.TextBox("txtusr", "", new {@class="form-control"})
    </div>

    <div class="form-group ">
        @Html.Label("Password: ")
        @Html.TextBox("txtpwd", "", new { @class = "form-control" }) <br />
    </div>

    <input class="btn btn-success" type="submit" value="Login">

}

